# network specific node uri : `"ETH_NODE_URI_" + networkName.toUpperCase()`
ETH_NODE_URI_MAINNET=https://mainnet.eth.aragon.network
ETH_NODE_URI_RINKEBY=https://rinkeby.eth.aragon.network

# generic node uri (if no specific found) :
ETH_NODE_URI=https://{{networkName}}.infura.io/v3/<apiKey>

# network specific mnemonic : `"MNEMONIC_ " + networkName.toUpperCase()`
MNEMONIC_MAINNET=<mnemonic for mainnet>
# generic mnemonic (if no specific found):
MNEMONIC=<mnemonic>

# fork
HARDHAT_FORK_ID=100
HARDHAT_FORK=https://xdai-archive.blockscout.com
HARDHAT_FORK_BLOCK_NUMBER=

# pinata pinning service keys
PINATA_KEY=
PINATA_SECRET_KEY=

# tenderly
HARDHAT_TENDERLY_USERNAME=
HARDHAT_TENDERLY_PROJECT=